.CloseIcon {
	float: right;
	width: 1vw;
    height: 1vw;
    padding: 0.7vw;
}

.ExpandedViewHeaderLine {
    display: block;
    position: absolute;
	padding: 0px;
	margin: 0px;
    padding: 0.8vw;
    width: 50%;
    right: 0px;
}

.CloseIcon:hover {
	cursor: pointer;
}

.SampleChart {
	float: left;
}

.ExpandedView {
	display: block;
	position: absolute;
	width: 100%;
	height: 200%;
	top: 0px;
}

.ExpandedViewBackground {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.6;
}

.ExpandedViewContent {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 92%;
	overflow-y: auto;
	left: 3%;
	top: 3%;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vw;
	background-color: white;
	border-radius: 5px;
}